* {
    box-sizing: border-box;
}

html {
    font-family: play, serif;
    color: var(--clr-primary-base);
    line-height: 1.71428571;
}

body {
    margin: 0;
    font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    font-weight: 400;
    line-height: 1.3;
}

h2 {
    font-size: 2.14285714em;
}

p {
    margin: 0 0 1em;
}

img {
    width: 200px;
    margin: 10px;
    cursor: pointer;
}

a {
    color: var(--clr-primary-1);

    &:hover {
        text-decoration: none;
    }
}

section {
    margin-bottom: 100px;
    margin-left: 10px;
}
