* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-text);
    line-height: 1.6;
}

body {
    margin: 0;
    font-size: 1rem;
    background-color: var(--clr-bg-main);
}

h1:hover {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    font-weight: 400;
}

p {
    margin: 0 0 1em;
}

a {
    color: var(--clr-primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

section {
    margin-bottom: 20px;
}
