.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
