/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* list item helpers */

/* layout helpers  */

/* general */
.hidden {
    display: none;
}
