.canvas-container {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meme-canvas {
    width: 100%;
    height: auto;
    max-width: 500px;
    border: 2px solid var(--clr-grey);
    border-radius: 8px;
}
