.main-header {
    background-color: var(--clr-bg-light);
    padding: 10px 20px;
    border-bottom: 1px solid var(--clr-primary);
    margin-bottom: 20px;
    border-radius: 12px;
}

.main-header h1 {
    margin: 0;
}

.main-header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-header .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header .main-nav li {
    margin-left: 15px;
}

.main-header nav {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    background-color: var(--clr-bg-light);
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid var(--clr-primary);
}

.main-header nav.nav-open {
    display: flex;
}

.main-header a.active {
    color: white;
}

.btn-menu {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
