.main-header {
    background-color: var(--clr-bg-light);
    padding: 10px 20px;
    border-bottom: 1px solid var(--clr-primary);
    margin-bottom: 20px;
    border-radius: 12px;
}

.main-header h1 {
    margin: 0;
}

.main-header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-header .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header .main-nav li {
    margin-left: 15px;
}

.main-header nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--clr-bg-light);
    padding: 20px;
    padding-top: 60px;
    border-left: 1px solid var(--clr-primary);
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.main-header nav.nav-open {
    transform: translateX(0);
}

.main-header a.active {
    color: white;
}

.main-header nav a {
    font-size: 1.5rem;
    padding: 15px 0;
    text-align: left;
}

.btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: var(--clr-primary);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.btn-close:hover {
    background-color: var(--clr-primary-hover);
}

.screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: none;
    cursor: pointer;
}

body.menu-open .screen-overlay {
    display: block;
}

.btn-menu {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
