.meme-gallery-page {
    /* padding: 20px; */
}

.meme-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
    background: #666;
    border-radius: 12px;
}

.meme-gallery img,
.meme-gallery .upload-image {
    width: calc(50% - 20px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s;
    border-radius: 6px;
}

.meme-gallery img:hover,
.meme-gallery .upload-image:hover {
    border-color: var(--clr-primary);
}

.meme-gallery .upload-image {
    border-color: currentColor;
}

.meme-edit-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-tools {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--clr-bg-light);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--clr-grey-border);
}

button,
.btn {
    font-size: 1rem;
    display: block;
    text-align: center;
    background-color: var(--clr-primary);
    color: var(--clr-bg-main);
    padding: 10px;
    border-radius: 4px;
    border: 0;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.1;
    gap: 0.5ch; /* ch = character size */

    &:hover {
        background-color: var(--clr-secondary);
    }
}

.no-gap {
    gap: 0;
}

.control-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.control-group > * {
    flex: 1;
}

.meme-edit-page.hidden {
    display: none;
}

.meme-gallery-page.hidden {
    display: none;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px 20px;
}

a.btn {
    text-decoration: none;
}
