.most-searched-keys,
.most-searched-keys li {
    margin: 0;
    padding: 0;
}

.most-searched-keys {
    gap: 12px;
    flex-wrap: wrap;
    align-items: baseline;
}

.most-searched {
    flex-grow: 1;
    gap: 20px;
    padding-left: 20px;
    align-items: baseline;
}
