.most-searched-keys,
.most-searched-keys li {
    margin: 0;
    padding: 0;
}

.most-searched-keys {
    gap: 12px;
    flex-wrap: wrap;
    align-items: baseline;
    height: 40px;
    overflow: hidden;
}

.most-searched {
    gap: 20px;
    padding-left: 0;
    align-items: baseline;
}

.most-searched-keys li {
    line-height: 1;
}
