@media (min-width: 768px) {
    .main-header nav {
        display: flex;
        position: static;
        flex-direction: row;
        background: none;
        padding: 0;
        border: none;
        gap: 24px;

        height: auto;
        width: auto;
        transform: none;
        z-index: auto;
        transition: none;
    }

    .main-header nav a {
        font-size: 1rem;
        padding: 0;
    }

    .btn-menu,
    .btn-close {
        display: none;
    }

    .search {
        flex-direction: row;
        align-items: baseline;
        padding: 0 0 20px;
    }

    .fake-input {
        width: auto;
    }

    .most-searched {
        flex-grow: 1;
        padding-left: 20px;
    }

    .meme-gallery img,
    .meme-gallery .upload-image {
        width: 200px;
        height: 200px;
    }

    .meme-gallery {
        padding: 32px;
    }

    .meme-edit-page {
        flex-direction: row;
        justify-content: center;
    }

    .edit-tools {
        flex-grow: 1;
        max-width: 450px;
    }

    .canvas-container {
        flex-basis: 500px;
        flex-grow: 0;
    }
}
