:root {
    /* palette */
    --clr-bg-main: #22252c;
    --clr-bg-light: #3a3e47;
    --clr-text: #ffffff;
    --clr-primary: #8369ff;
    --clr-primary-hover: #6f50ff;
    --clr-secondary: #a494f6;
    --clr-grey: #e1e1e1;

    --page-width: 1000px;

    --bp-tablet: 768px;
    --bp-desktop: 1000px;
}
