:root {
    /* palette */
    :root {
        --clr-bg-main: #22252c;
        --clr-bg-light: #3a3e47;
        --clr-text: #ffffff;
        --clr-primary: #8369ff;
        --clr-grey: #e1e1e1;
    }
}
